@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
:root {
	--primary: #fb4d62;
	--secondary: orange;
	--font-size1: 24px;
		scroll-behavior: smooth;
	scrollbar-color: var(--primary);
	scrollbar-highlight-color: aqua;
}

body {
	box-sizing: border-box;
	font-family: Raleway, sans-serif;
	padding: 0px;
	margin: 0px;
	width: 100vw;
	background-color: papayawhip;
	overflow: hidden;
}
.pic{
	height: 400px;
	width: 450px;
	object-fit: contain;
}
button {
	
	background-color:black;
    color: white;
    padding: 10px 30px;
    font-size: 22px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
	background-color: var(--secondary);
	color: black;
}
p {
	font-size: var(--font-size1);
	text-align: justify;
}
/* header css starts here*/

header {
	background-color:darkslategrey;
	color: white;
	display: flex;
	justify-content: space-between;
	position: fixed;
	width: 100vw;
	padding-left:  50px;
	height: 80px;
}
.name{
	color: beige;
}
.name span{
	color: aquamarine;
}
header ul {
	display: flex;
	gap: 20px;
	column-gap: 35px;
	padding-right: 100px;
}
ul li {
	list-style: none;
}
a {
	text-decoration: none;
	color: white;
	font-size: 24px;
}
a:hover {
	text-decoration: underline;
}

section {
	padding: 100px 100px;
}
/* header css ends here */
/* banner css starts here*/
#banner {
	display: flex;
	gap: 30px;
    max-width: 1400px;
	 /* animation: basic 2s ease infinite;  */
   overflow-x: hidden;
}
.slides
{
    display: flex;
    gap: 30px;
    flex-basis: 1400px;
    flex-shrink: 0;
    flex-grow: 0;
    text-overflow: hidden;
}
@keyframes basic {
	100% {
		
			transform: translateX(-1400px);
	}
}

#banner p {
	line-height: 1.5;
}
.buttons {
	display: flex;
	gap: 20px;
	font-size: 20px;
	text-align: center;
	align-items: center;
}
.cardbutton{
	display: flex;
	flex-direction: column;
}

/* banner css ends here */
/* about starts*/
#about{
	display: flex;
	flex-direction: column;
    text-align: center;
	align-items: center;
	padding: 0 250px;
}
 h2{
    font-size: 46px;
    margin-top: 0px;
    padding-top: 0px;
    text-shadow: 3px 5px var(--secondary);
    text-align: center;
}
#about p{
    text-align: center;
}
/* Skills starts */
#skills{
	display: grid;
	grid-template-columns: repeat(2,auto);
	gap: 20px;
}
.skill{
	/*box-shadow: 10px 10px black;*/
	border: 1px solid black;
    padding: 30px;
    border-radius: 20px;
    transition: all 1s ease;
	width:300pxpx;
	height: 200px;
	display: flex;
	column-gap: 40px;
}
.skill img{
	width: 100px;
	height: 100px;
}

/* projects starts*/
#projects
{
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 20px;
}
.card
{
    box-shadow: 10px 10px black;
    padding: 30px;
    border-radius: 20px;
    transition: all 1s ease;
	
}
.card img
{
    width: 80%;
	padding-left: 50px;

}
.card:hover{
 box-shadow: 10px 10px var(--secondary);  
 scale: 1.05; 
}

/* about ends*/
/* contact*/
#contact{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}
.contact{
	box-shadow: 5px 5px black;
	padding: 50px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.contact input,.contact select
{
	width: 100%;
     height: 50px;	
	 border-radius: 20px;
}
input::placeholder{
	
	font-size: 16px;
}
/* contact ends*/
.social-icons a{
	color: black;
}
.social-icons img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
	text-align: center;
}
  
.social-icons img:hover {
    transform: scale(1.2);
}
/* footer */
 footer{
	background-color: darkslategrey;
	color: white;
	text-align: center;
	padding: 20px;
 }
/* footer */



/* mobile css*/

@media (max-width: 768px) {
	header {
		flex-direction: column;
		align-items: center;
		color:darkolivegreen;
	}
    #banner
    {
        flex-direction: column-reverse;
        align-items: center;
    }
    #banner .left{
        width: 100%;
    }
    #banner img{
     width:100%;
     
    }
    .buttons{
        justify-content: center;
    }
    #projects{
        grid-template-columns: repeat(1,auto);
    }
	#skills{
		grid-template-columns: repeat(1,auto);
	}
}
@media (max-width: 480px) {
	header{
		position: static;
	}
	section{
		padding: 0;
	}
	header ul{
		flex-direction: column;
		color: #fb4d62
	};
}